/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of css reset
--------------------------------------------
Beginning of css styling */

/* 
#cf9125
#e1d8c9
 */

:root {
    --main-bg-color: #f09997;
    --secondary-bg-color: #fcfcfe;
    --primary-text-color: #777;
    --understated-text-color: #888;
    --v-understated-text-color: #ccc;
    --highlight-selection: #555;
}

body {
    font-family: monospace, monospace;
    color: var(--primary-text-color);
    background-color: var(--main-bg-color);
    font-weight: bold;
}

body::selection, input::selection, button::selection, p::selection, div::selection, span::selection, a::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, form::selection, img::selection {
    background: var(--highlight-selection);
    color: var(--v-understated-text-color);
}

#booklistDiv, #results {
    box-sizing: border-box;
    position: relative;
    width: 75%;
    margin: auto;
    background-color: var(--secondary-bg-color);
    box-shadow: 3px 3px 16px 1px rgba(0,0,0,.2);
    margin-top: 30px;
    margin-bottom: 60px;
}

#booklistDiv {
    padding: 70px 15px 80px 15px;
}

@media only screen and (max-width: 900px) {
    #booklistDiv {
        width: 100%;
    }
}

#addBook {
    position: relative;
    padding: 0px;
    margin: 6px 0px 6px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 40px;
}

#defaultsWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 35px;
}

@media only screen and (max-width: 350px) {
    #defaultsWrapper {
        height: 60px;
    }
}

#defaultMaxPrice, #resultsPerBook {
    width: 50px;
    text-align: center;
}

#addButton {
    margin: 2px 0px 0px 3px;
    height: 24px;
}

#results {
    z-index: initial;
    isolation: isolate;
    padding: 1px 0px;
}

#ebayResults {
    box-sizing: border-box;
    position: relative;
    margin: 11px -12px -13px 12px;
    padding: 70px 15px 80px 15px;
    background-color: var(--secondary-bg-color);
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,.3);
}

@media only screen and (max-width: 900px) {
    #results {
        width: 100%;
        padding: 0px;
    }

    #ebayResults {
        width: 100%;
        margin: 0px;
    }
}

.resultWrapper {
    position: relative;
    margin: 2px 0px 2px 0px;
    display: flex;
    flex-direction: row;
}

a {
    position: relative;
    color: var(--primary-text-color);
    font-family: monospace, monospace;
    font-weight: bold;
    font-size: .8em;
    text-decoration: none;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.3);
    left: 0px;
    right: 0px;
    padding: 4px 4px 4px 4px;
    margin: 2px 0px 2px 0px;
    display: block;
    flex: 1 1 50px;
}

a:hover {
    transition-duration: 1.5s;
    box-shadow: 3px 3px 12px 1px rgba(0,0,0,.3);
}

a>div {
    position: absolute;
    padding: 10px 20px 10px 10px;
    transition: all 1s;
    right: 50%;
    top: -60px;
    background-color: var(--secondary-bg-color);
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,.3);
    z-index: -1;
}

a:hover>div {
    display: block;
    transition-duration: 1s;
    transition-delay: .3s;
    right: calc(100% + 80px);
}

h4 {
    font-size: .9em;
    display: inline-block;
    width: 80px;
}

h2 {
    font-size: 1.2em;
}

input {
    color: var(--primary-text-color);
    font-family: monospace, monospace;
    border: none;
    font-weight: bold;
    background-color: transparent;
    margin: 2px 8px 2px 8px;
    padding: 3px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
    transition: all .5s;
    width: 180px;
    height: 18px;
}

input::placeholder {
    color: var(--understated-text-color);
}

input:hover, input:focus {
    box-shadow: 3px 3px 12px 1px rgba(0,0,0,.3);
    height: 22px;
}

.budgetButtonWrapper {
    width: 180px;
    display: flex;
    margin: 0px 8px 0px 8px;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

button {
    color: var(--understated-text-color);
    font-family: monospace, monospace;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 8px 8px 8px 8px;
    padding: 3px;
    background-color: var(--secondary-bg-color);
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,.3); 
    transition: .2s;
}

button:focus {
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,.05);
}

.deleteButton {
    color: var(--v-understated-text-color);
    width: 21px;
    height: 21px;
    position: relative;
    top: 3px;
    padding: 0px 2px 0px 2px;
    margin: 0px 0px 0px 10px;
    box-shadow: none;
    font-size: 20px;
    transition: .3s;
}

.deleteButton:hover {
    width: 25px;
    height: 25px;
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,.3);
    padding: 2px 6px 8px 6px;
    margin: 0px 0px 0px 8px;
}

.deleteButton:focus {
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,.05);
}

.toBooklist, .getResults {
    margin: 0px;
    position: absolute;
    width: 200px;
    height: 24px;
}

.toBooklist.top {
    z-index: 100;
    left: -24px;
    top: 24px;   
}

.toBooklist.bottom {
    z-index: 100;
    bottom: 12px;
    right: -36px;   
}

@media only screen and (max-width: 900px) {
    .toBooklist.bottom {
        right: -24px;
        bottom: 24px;  
    }
}

.getResults.top {
    top: 24px;
    left: -24px;
}

.getResults.bottom {
    bottom: 24px;
    left: -24px;
}

#addBookMaxPrice, .maxPrice {
    width: 100px;
}

.budgetButtonWrapper .maxPrice {
    margin-left: 0px;
    margin-right: 0px;
}

@keyframes deleteBookWide {
    0% {
        opacity: 1;
        height: 40px;
        line-height: 20px;
    }
    50% {
        opacity: 0;
        height: 40px;
        line-height: 20px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;        
    }
}

ul.booklist li {
    position: relative;
    padding: 0px;
    margin: 6px 0px 6px 0px;
    animation-name: deleteBookWide;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

ul.booklist li input {
    flex: 0 0 auto;
}

@media only screen and (max-width: 647px) {
    @keyframes deleteBookMiddle {
        0% {
            opacity: 1;
            height: 70px;
            line-height: 20px;
        }
        50% {
            opacity: 0;
            height: 70px;
            line-height: 20px;
        }
        100% {
            opacity: 0;
            height: 0px;
            line-height: 0px;        
        }
    }

    ul.booklist li {
        animation-name: deleteBookMiddle;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        animation-play-state: paused;
        justify-content: flex-start;
    }

    #addBook {
        height: 70px;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 450px) {
    @keyframes deleteBookNarrow {
        0% {
            opacity: 1;
            height: 95px;
            line-height: 20px;
        }
        50% {
            opacity: 0;
            height: 95px;
            line-height: 20px;
        }
        100% {
            opacity: 0;
            height: 0px;
            line-height: 0px;        
        }
    }

    ul.booklist li {
        animation-name: deleteBookNarrow;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        animation-play-state: paused;
    }

    ul.booklist li > input {
        flex: 1 1 180px;
    }

    #addBook {
        height: 95px;
    }

    #addBook > input {
        flex: 1 1 180px;
    }

    .budgetButtonWrapper {
        flex: 1 1 180px;
        margin-right: 8px;
    }
}

.badInput {
    background-color: rgba(255,0,0,.3);
}


